{% extends "myapp/base.html" %}
{% load static %}
{% block title %}
    elicoweb{% endblock %}

<!-- Style for ministry -->
{% block style2 %}
{% endblock%}
<!-- body content of th ministry -->
{% block content %}

<div class="container">                   
    <div class="row">    
<div class="col-md-12">

<a href = "#record"  data-toggle="collapse"> 
<h5 style="margin-left: 15px">our members</h5>
    </a>
<div id="record" class="collapse " style="overflow: scroll;">                                        
                <h3>List of Ministry Members:</h3>                     
                <table class="table table-striped table-bordered table-hover" style="width:100%;font-size: 15px;text-align: left;" border="1">      
                    <thead>
                        <tr>
                            <th>first_name</th>
                            <th>middle_name</th>
                            <th>last_name</th>
                            <th>gender</th>
                            <!-- <th>birthdate</th> -->
                            <th>phone_number</th>
                            <th>marital_status</th>
                            <th>email</th>
                            <th>next_of_kin</th>
                            <th>next_of_kin_phone</th>
                            <th>family_name</th>
                            <th>village</th>
                            <th>home_town</th>
                            <th>lga_of_origin</th>
                            <th>state_of_origin</th>
                            <th>nationality</th>
                            <th>residential_address</th>
                            <th>ministry</th>
                            <th>date_joined</th>
                            <th>passport <td><a href = "#record"  data-toggle="collapse" class="btn btn-primary">&times; </a></td>  </th>                 
                        </tr>
                    </thead>
                    <tbody>                             
                {% for x in eva %}                       
                <tr>
                <td>{{x.first_name}}</td>
                <td>{{x.middle_name}}</td>
                <td>{{x.last_name}}</td>
                <td>{{x.gender}}</td>
                <!-- <td>{{x.birthdate}}</td> -->
                <td>{{x.phone_number}}</td>
                <td>{{x.marital_status}}</td>
                <td>{{x.email}}</td>
                <td>{{x.next_of_kin}}</td>
                <td>{{x.next_of_kin_phone}}</td>
                <td>{{x.family_name}}</td>
                <td>{{x.village}}</td>
                <td>{{x.home_town}}</td>
                <td>{{x.lga_of_origin}}</td>
                <td>{{x.state_of_origin}}</td>
                <td>{{x.nationality}}</td>
                <td>{{x.residential_address}}</td>
                <td>{{x.ministry}}</td>
                <td>{{x.date_joined}} </td>
                <td>
                    {% if x.passport %}
                    <img src="{{ x.passport.url }}" class="img-responsive" alt="Member" width="25%" height="25%">
                    {% else %}
                    <p>No image</p> 
                    {% endif %} 
                    </td>                        
            </tr>  
                {% endfor %}                            
            </tbody>
            </table>                           
            <a href = "#record"  data-toggle="collapse" class="btn btn-primary"> 
                    close</a>                          
            </div>
    <div class="col-md-7">  
    <!-- <h2 style="color:brown;"> -->
            <!-- <marquee>Welcome to Intercessory Ministry</marquee></h2>     -->
    <img src="{% static 'evan.jpg' %}" alt="Evangelical" width="100%" height="100%">   <br><br/>  
<!-- Evangelical Ministry Explanation -->
<div id="evangelicalminister" style="text-align: justify; font-size:17px;">
<h3 style="color: brown">Evangelical Ministry.</h3>
<p>     
    <p>Within Christianity, evangelical ministry is a ministry whose chief aim is to win converts to Christ. A minister who is involved primarily in evangelistic ministry is called an evangelist. In addition to vocational evangelists, Catholic Charismatic Renewal trains and  encourage their people to become involved in evangelistic ministry by sharing their faith with others.
        </p>
         <p>In the Bible, the word evangelist comes from the Greek word "evangelion," which means "to bring good news." While evangelistic ministries use a wide range of methodologies, they all focus on one basic task: proclaiming the gospel -- or "good news." Christian denominations differ in their exact definition of what proclaiming the gospel entails, but all evangelism -- regardless of the denomination -- is designed to draw people to follow Christ.</p>
        <p>The primary responsibility is to preach God's Word, telling people simply and clearly what God says concerning His Son Jesus Christ and what He has done for all. This is done with urgency because the souls of people are at stake. ... God has given the message and the evangelist is to be faithful to every word.</p>
        
</div>

    <!-- Modal for registration form -->
    <div id="register" style="padding-right:5px; float:left;">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#mymodal">
                    <h4>Register Yourself!</h4>
                </button>
                <div id="mymodal" class="modal fade" role="dialog" style="width:700px;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- modal form header -->
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">&times;</button>
                                <h2 style="color:#e74c3c"><b>FILL THE FORM</b></h2>
                            </div>
                            <!-- modal form body -->
                <div class="modal-body" style="margin-left: 40px;">
            <form class="form-horizontal form-group" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom">
                        New Member
                    </legend>
                    {{form.as_p}}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>
                <div class="border-top pt-3">
                    <small class="text-mutted">
                        Already have an account!
                        <a href="{% url 'min_evang' %}"></a>
                    </small>
                </div>
            </form>
                            </div>
                            <!-- modal footer -->
                            <div class="modal-footer">
                                <button class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>  </div>   
    <!-- end of register form -->
    
    </div>
    <!-- upcoming event display -->
    <div class="col-md-5" style="background-color:lavender;">    
        
            <h3 style="color:brown; ">Up-Coming Events</h3>  
            {% for x in ng %}    
            <table>   
            <tr>        
            <td><h4> {{ x.title }}</h4></td>
            <td rowspan=3 >
                {% if x.event_img %}
                <img src="{{ x.event_img.url }}" class="img-responsive img-thumbnail" alt="Member" style="border-radius: 0%; max-width: 100px; float: right;">
                {% else %}
                <p>No image</p> 
                {% endif %}  
            </td>
            </tr>
            <tr>
            <td valign=middle>
            <p class=" text-muted">by: {{ x.anouncer }} | {{ x.created_on }}</p>
            </td>
            </tr>
            <tr>    
            <td valign=middle style="overflow-wrap: break-word;word-break: break-all;">
        <p class="card-text ">{{ x.content |slice:":200" }}</p>
        </td>
       
    </tr>                   
        </table>                   
        {% endfor %}
            </div> 
                </div>
            </div></div></div>   
    {% endblock %}
    